<div align="center" class="container">
    <div  class="jumbotron center">
        <h2 style="color:gray;"><i class="fa fa-plane" aria-hidden="true"></i></h2>
        <h1 style="color:gray;">Flights </h1> 
    </div>
</div>